.App {
  background-color: #fff;
  width: 1025px;
  border: 1px solid black;
  color: rgb(85, 85, 85);
  margin: auto;
  margin-top: 210px;
}

.Body {
  width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 12px;
  letter-spacing: 1.5px;
  height: 40px;
  width: 118px;
  text-transform: uppercase;
  transition: all .3s;
  color: #fff;
  background-color: #01a1dd;
  border: none;
  box-shadow: none;
  font-weight: 400;
  outline: none;
  text-shadow: none;
  padding: 1px 15px;
  text-align: center;
}

button:hover {
  background-color: #0088cc;
  cursor: pointer;
}

img {
  height: 32px;
  width: 225px;
  align-self: flex-start;
  margin: 15px 0px;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.Date-Title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  text-size-adjust:100%;
  text-rendering:optimizeLegibility;
  margin-left: 32px;
}

.Date {
  background-color: #f3f3f3;
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
} 

.Month {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 14px;
  text-align: center;
}

.Day {
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
}

.Table {
  border: 2px solid #E6E6E6;
}

.Table h4 {
  color: rgb(1, 161, 221);
  font-weight: 800;
  font-size: 13px;
  margin: 24px 0px 10px 37px;
  letter-spacing: 1.5px;
}

hr {
  border: .5px solid  #CCCCCC;
  width: 920px;
  margin: 10px 20px;
}

table {
  font-size: 13px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  padding-top: 10px;
  text-align: 
}

th {
  border-bottom: 2px solid #01A1DD;
  font-weight: 700;
  text-align: bottom;
}

th:first-of-type {
  padding-left: 53px;
}

tr td:first-of-type {
  padding-left: 53px;
}

th:nth-child(2) {
  padding-left: 100px;
}

tr td:nth-child(2) {
  padding-left: 100px;
}

th:nth-child(3) {
  padding-left: 100px;
  width: 60px;
}

tr td:nth-child(3) {
  padding-left: 100px;
  width: 60px;
}

th:nth-child(4) {
  padding-left: 50px;
  width: 60px;
}

tr td:nth-child(4) {
  padding-left: 50px;
  width: 60px;
}

th:nth-child(5) {
  padding-left: 50px;
  width: 80px;
}

tr td:nth-child(5) {
  padding-left: 50px;
  width: 80px;
}

th:nth-child(6) {
  padding-left: 80px;
  width: 80px;
}

tr td:nth-child(6) {
  padding-left: 80px;
  width: 80px;
}

th:nth-child(7) {
  padding-left: 30px;
  width: 48px;
}

tr td:nth-child(7) {
  padding-left: 30px;
  width: 48px;
}

tbody tr {
  height: 63px;
}

tr td {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 0px 35px;
  white-space:nowrap;
}

.Striped {
  background-color: #F3F3F3;
}

.Order {
  color: #21BCE8;
}

.Star {
  color: #999999;
  vertical-align: middle;
}

i {
  color: #ABABAB;
}

td i {
  color: #01A1DD;
}

/* i:last-of-type {
  color: #01A1DD;
} */

i:hover, .Order {
  cursor: pointer;
}

.Close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  margin: -10px -5px;
}

.Close:hover,
.Close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.ModalBody {
  width: 600px;
  margin: 16px auto;
  color: #555555;
  font-size: 14px;
  line-height: 1.5;
}

.ModalBody span {
  font-size: 24px;
  line-height: 24px;
}

.ModalBody button {
  width: 180px;
  padding: 1px 10px;
}

.Select {
  padding: 5px 50px 0 10px;
  color: #555;
  width: 284px;
  height: 36px;
  vertical-align: middle;
  align-items: center;
  white-space: pre;
  cursor: pointer;
}

.SelectSmall {
  padding: 5px 50px 0 10px;
  color: #555;
  width: 132px;
  height: 36px;
  vertical-align: middle;
  align-items: center;
  white-space: pre;
  cursor: pointer;
}

.Inputs {
  width: 286px;
  margin-top: 32px;
}

.InputsSmall {
  width: 286px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.InputsSmall div div div {
  width: 132px;
}