.App {
  background-color: #fff;
  width: 1025px;
  border: 1px solid black;
  color: rgb(85, 85, 85);
  margin: auto;
  margin-top: 20px;
}

.Body {
  width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 12px;
  letter-spacing: 1.5px;
  height: 40px;
  width: 118px;
  text-transform: uppercase;
  transition: all .3s;
  color: #fff;
  background-color: #01a1dd;
  border: none;
  box-shadow: none;
  font-weight: 400;
  outline: none;
  text-shadow: none;
  padding: 1px 15px;
  text-align: center;
}

button:hover {
  background-color: #0088cc;
  cursor: pointer;
}

.pagination {
  align-self: center;
  font-size: 16px;
}

.pagination .pagination>li>a, .pagination>li>span {
  background-color: #01A1DD !important;
}

.pagination>li>a {
  color: #01A1DD;
}

a {
  border-radius: 0px !important;
}