.Table {
  border: 2px solid #E6E6E6;
}

.Table h4 {
  color: rgb(1, 161, 221);
  font-weight: 800;
  font-size: 13px;
  margin: 24px 0px 10px 37px;
  letter-spacing: 1.5px;
}

hr {
  border: .5px solid  #CCCCCC;
  width: 920px;
  margin: 10px 20px;
}

table {
  font-size: 13px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  padding-top: 10px;
}

th {
  border-bottom: 2px solid #01A1DD;
  font-weight: 700;
}

tr td {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  white-space:nowrap;
}

tr:last-of-type td {
  border: none;
}

tbody tr {
  height: 63px;
}

th:first-of-type {
  padding-left: 53px;
  width: 136px;
}

tr td:first-of-type {
  padding-left: 53px;
  width: 136px;
}

th:nth-child(2) {
  width: 80px;
}

tr td:nth-child(2) {
  width: 80px;
}

th:nth-child(3) {
  padding-left: 16px;
  width: 40px;
}

tr td:nth-child(3) {
  padding-left: 16px;
  width: 40px;
}

th:nth-child(4) {
  padding-left: 50px;
  width: 60px;
}

tr td:nth-child(4) {
  padding-left: 50px;
  width: 60px;
}

th:nth-child(5) {
  padding-left: 50px;
  width: 70px;
}

tr td:nth-child(5) {
  padding-left: 50px;
  width: 70px;
}

th:nth-child(6) {
  padding-left: 90px;
  width: 50px;
}

tr td:nth-child(6) {
  padding-left: 90px;
  width: 50px;
}

th:nth-child(7) {
  padding-left: 44px;
  width: 50px;
}

tr td:nth-child(7) {
  padding-left: 48px;
  width: 50px;
}

.Striped {
  background-color: #F3F3F3;
}

.Order {
  color: #21BCE8;
}

.Star {
  color: #999999;
  vertical-align: middle;
}

i {
  color: #ABABAB;
}

td i {
  color: #01A1DD;
}

i:hover, .Order {
  cursor: pointer;
}